## Ignore dependencies and build artifacts
node_modules/
dist/
.pnpm-store/
*.debate.md
palabre.config.json
chicane.config.json
.tmp/

## Ignore notes
docs/notes.md

## Ignore Obsidian vaults
**/.obsidian
*.tgz
desktop.ini
